Django==4.2.23
djangorestframework==3.16.1
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.5.1
drf-nested-routers==0.93.4
Pillow==11.3.0
python-decouple==3.8
dj-database-url==3.0.1
psycopg2-binary==2.9.10
whitenoise==6.9.0
